@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0 ;
    padding: 0;
    font-family: inter , sans-serif;
    font-size: 15px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 71, 224, 0.671);
}

main {
    position: absolute;
    background-color: rgba(250, 250, 250, 0.274);
    box-shadow: 3px 5px 2px rgba(0, 0, 0, 0.2) ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 25px;
    /* height: 45%; */
    /* width: 80%; */
}

.tema {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;

}

.texto {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 550;
}

.area_de_texto {
    width: 91%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 20px;
    border:none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2) ;
}

.btn {
    width: 100%;
    padding: 5px;
    margin:30px 0 10px 0;
    border-radius: 20px;
    border:none;
    background-color: rgba(0, 255, 255, 0.8);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2) ;
    cursor: pointer;
}
.btn_limpar {
    width: 100%;
    padding: 5px;
    margin:0 0 30px 0;
    background-color: rgba(255, 208, 0, 0.8);
    border-radius: 20px;
    border:none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2) ;
    cursor: pointer;
}

.frase {
    margin-top: 15px;
    color: rgba(240, 255, 255, 0.301);
    text-align: center;

}

@media only screen and (max-width: 500px) {
    main {
        width: 60%;
    }
}


